* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid black; */
}

:root {
  --color-white: rgb(235, 232, 232);
  --background-rose: rgb(236, 76, 161);
  --color-salame: rgb(170, 48, 48);
  --color-black: rgb(22, 21, 21);
}

body {
  background: rgb(217, 200, 146);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* header */

.header {
  background: rgb(170, 48, 48);
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  box-shadow: 0 0 1px 0 var(--color-white);
}

h1 {
  font-size: 1.5rem;
  color: rgb(199, 199, 17);
}

.nav-bar {
  display: flex;
}

.nav-bar__list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-bar__list li {
  list-style-type: none;
}

.nav-bar__list a {
  color: var(--color-white);
}

.nav-bar__list a:hover {
  text-decoration: underline;
}

/* hero */

.hero {
  max-width: 1200px;
  display: flex;
  margin-top: 4rem;
}

.hero-info {
  max-width: 600px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 0 3rem;
}

.hero-description {
  max-width: 13rem;
  color: rgb(26, 24, 24);
}

.button-hero {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: var(--color-salame);
  color: var(--color-white);
  border: none;
  box-shadow: 0 0 2px 0 rgb(17, 17, 17);
}

.button-hero:hover {
  background: rgb(5, 87, 5);
  transition-duration: 1s;
}

.hero-img {
  max-width: 600px;
}

.img-hero {
  height: 20rem;
}

/* MAIN */
.main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.search-pizza {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-title {
  text-align: center;
  color: var(--color-black);
  font-size: 1.5rem;
  margin-top: 2rem;
}

.second-title {
  color: var(--color-black);
}

.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button {
  background: var(--color-salame);
  color: var(--color-white);
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: none;
  box-shadow: none;
}

#number {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CARD RENDERIZADA */
.container-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 0.3rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 30rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid var(--color-salame);
  background: var(--color-salame);
}

.container-description {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11rem;
}

.title-card {
  font-size: 1rem;
  color: var(--color-white);
}

.card-precio {
  font-size: 1rem;
  color: var(--color-white);
}

.error-msj {
  color: var(--color-salame);
  text-align: center;
}

/* responsive design */
@media (max-width: 800px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .title-hero {
    text-align: center;
  }

  .hero-description {
    text-align: center;
  }

  .hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
